<div id="<%= dom_id city %>">
    <div class="city-name">
      <strong>Nome:</strong>
      <%= city.name %>
    </div>
    <div class="state-name">
      <strong >Estado:</strong>
      <%= city.state %>
    </div>
</div>
