<div id="<%= dom_id city %>">
  <div class="city-name">
    <strong>Name:</strong>
    <%= city.name %>
  </div>
  <div class="state-name">
    <strong >State:</strong>
    <%= city.state %>
  </div>
</div>
